<%= form_for @seja_investidore do |f| %>
<% if @seja_investidore.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@seja_investidore.errors.count, "error") %> prohibited this seja_investidore from being saved:</h2>

	<ul>
		<% @seja_investidore.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="controls controls-row">
	<%= f.label :nome %>
	<%= f.label :empresa %>
	<%= f.text_field :nome %>
	<%= f.text_field :empresa %>
</div>
<div class="controls controls-row">
	<%= f.label :email %>
	<%= f.label :telefone %>
	<%= f.email_field :email %>
	<%= f.telephone_field :telefone %>
</div>
<div class="controls">
	<%= f.label :site %>
	<%= f.text_field :site %>
</div>
<div class="controls controls-row">
	<%= f.label :cidade %>
	<%= f.label :uf %>
	<%= f.text_field :cidade %>
	<%= f.text_field :uf %>
</div>
<div class="controls">
	<%= f.text_area :mensagem, :cols => "150", :rows => "5", :placeholder=>"Mensagem" %>
</div>
<div class="actions">
	<%= f.submit 'Enviar Mensagem',  :class=>"btn btn-primary" %>
</div>
<% end %>
