<h1>Listing seja_investidores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Empresa</th>
    <th>Site</th>
    <th>Cidade</th>
    <th>Uf</th>
    <th>Mensagem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seja_investidores.each do |seja_investidore| %>
  <tr>
    <td><%= seja_investidore.nome %></td>
    <td><%= seja_investidore.email %></td>
    <td><%= seja_investidore.telefone %></td>
    <td><%= seja_investidore.empresa %></td>
    <td><%= seja_investidore.site %></td>
    <td><%= seja_investidore.cidade %></td>
    <td><%= seja_investidore.uf %></td>
    <td><%= seja_investidore.mensagem %></td>
    <td><%= link_to 'Show', seja_investidore %></td>
    <td><%= link_to 'Edit', edit_seja_investidore_path(seja_investidore) %></td>
    <td><%= link_to 'Destroy', seja_investidore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seja investidore', new_seja_investidore_path %>
