<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @seja_investidore.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @seja_investidore.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @seja_investidore.telefone %>
</p>

<p>
  <b>Empresa:</b>
  <%= @seja_investidore.empresa %>
</p>

<p>
  <b>Site:</b>
  <%= @seja_investidore.site %>
</p>

<p>
  <b>Cidade:</b>
  <%= @seja_investidore.cidade %>
</p>

<p>
  <b>Uf:</b>
  <%= @seja_investidore.uf %>
</p>

<p>
  <b>Mensagem:</b>
  <%= @seja_investidore.mensagem %>
</p>


<%= link_to 'Edit', edit_seja_investidore_path(@seja_investidore) %> |
<%= link_to 'Back', seja_investidores_path %>
